<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Prediksi Harga Cocoa Berdasarkan 20 Hari sebelumnya</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Aplikasi Prediksi Harga Cocoa Berdasarkan 20 Hari sebelumnya:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                <label for="X20" class="mb-2">Harga H-20</label>
                <input
                    type="text"
                    name="X20"
                    placeholder="Harga H-20"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X19" class="mb-2">Harga H-19</label>
                <input
                    type="text"
                    name="X19"
                    placeholder="Harga H-19"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X18" class="mb-2">Harga H-18</label>
                <input
                    type="text"
                    name="X18"
                    placeholder="Harga H-18"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X17" class="mb-2">Harga H-17</label>
                <input
                    type="text"
                    name="X17"
                    placeholder="Harga H-17"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X16" class="mb-2">Harga H-16</label>
                <input
                    type="text"
                    name="X16"
                    placeholder="Harga H-16"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X15" class="mb-2">Harga H-15</label>
                <input
                    type="text"
                    name="X15"
                    placeholder="Harga H-15"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X14" class="mb-2">Harga H-14</label>
                <input
                    type="text"
                    name="X14"
                    placeholder="Harga H-14"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X13" class="mb-2">Harga H-13</label>
                <input
                    type="text"
                    name="X13"
                    placeholder="Harga H-13"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X2" class="mb-2">Harga H-12</label>
                <input
                    type="text"
                    name="X12"
                    placeholder="Harga H-12"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X11" class="mb-2">Harga H-11</label>
                <input
                    type="text"
                    name="X11"
                    placeholder="Harga H-11"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X10" class="mb-2">Harga H-10</label>
                <input
                    type="text"
                    name="X10"
                    placeholder="Harga H-10"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X9" class="mb-2">Harga H-9</label>
                <input
                    type="text"
                    name="X9"
                    placeholder="Harga H-9"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X8" class="mb-2">Harga H-8</label>
                <input
                    type="text"
                    name="X8"
                    placeholder="Harga H-8"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X7" class="mb-2">Harga H-7</label>
                <input
                    type="text"
                    name="X7"
                    placeholder="Harga H-7"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X6" class="mb-2">Harga H-6</label>
                <input
                    type="text"
                    name="X6"
                    placeholder="Harga H-6"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X5" class="mb-2">Harga H-5</label>
                <input
                    type="text"
                    name="X5"
                    placeholder="Harga H-5"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X4" class="mb-2">Harga H-4</label>
                <input
                    type="text"
                    name="X4"
                    placeholder="Harga H-4"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X3" class="mb-2">Harga H-3</label>
                <input
                    type="text"
                    name="X3"
                    placeholder="Harga H-3"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X2" class="mb-2">Harga H-2</label>
                <input
                    type="text"
                    name="X2"
                    placeholder="Harga H-2"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="X1" class="mb-2">Harga H-1</label>
                <input
                    type="text"
                    name="X1"
                    placeholder="Harga H-1"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI SEKARANG
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <h1 class="text-2xl mb-8">
                    Estimasi biaya asuransi Anda adalah
                </h1>
                <h2 class="text-5xl font-bold"> {{ result }}</h2>
                {% if (result) != 0 %}
                <div class="mt-8">
                    <p>X1: {{ X1 }}</p>
                    <p>X20: {{ X20 }}</p>
                </div>
                {% endif %}
            </div>
            <div class="flex justify-around bg-white p-16 rounded-lg mt-8">
                <img
                    class="h-24 md:h-28"
                    src="https://digitalent.kominfo.go.id/assets/@images/logo.png"
                    alt="logo-dts"
                />
                <img
                    class="h-24 md:h-28"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg/604px-Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg.png"
                    alt="logo-kominfo"
                />
            </div>
        </section>
    </body>
</html>
